$mobile-layout-max-width: 767px;

.page-content {
  h1 {
    font-size: 3.2rem;
    margin: 4rem auto 1.6rem;
    max-width: 1140px;
    width: 100%;

    @media (max-width: $mobile-layout-max-width) {
      font-size: 2.4rem;
      text-align: center;
      margin: 2.4rem auto;
    }
  }
}
