$mobile-layout-max-width: 767px;

.main-header {
  background: #fff;
  color: #555555;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--candidate {
      display: flex;
      flex-direction: row;
      margin-right: 2rem;
      font-size: 1.4rem;

      @media (max-width: $mobile-layout-max-width) {
        flex-direction: column;
        font-size: 1.2rem;
        margin-right: 1.6rem;
        text-align: right;
      }

      strong {
        margin-right: 5px;

        @media (max-width: $mobile-layout-max-width) {
          margin-right: 0;
        }
      }
    }

    &--avatar {
      align-items: center;
      background: #F5F5F5;
      border-radius: 4px;
      display: flex;
      height: 32px;
      justify-content: center;
      width: 32px;

      strong {
        font-size: 1.5rem;
      }
    }
  }
}
