$mobile-layout-max-width: 768px;

.heroes-table {
  padding: 2.4rem 0;

  &__header {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1.2rem;
      color: #8E8E8E;
      padding: 0 2.4rem ;
      width: 33.3333%;


      @media (max-width: $mobile-layout-max-width) {
        display: none;

        &:first-child {
          display: block;
          width: 100%;
          padding: 0 0 0 8.5rem;
        }
      }
    }
  }

  &__items {
    padding: 0;
    list-style: none;

    .hero {
      align-items: center;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0px 0px 5px #00000033;
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      &__name {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 2rem 2.4rem;
        width: 33.3333%;

        img {
          margin-right: 2.4rem;
        }

        strong {
          font-size: 1.6rem;
        }

        @media (max-width: $mobile-layout-max-width) {
          width: 100%;
          padding: 1.2rem 1.6rem;

          strong {
            font-size: 1.4rem;
          }
        }
      }

      &__series,
      &__events {
        padding: 2rem 2.4rem;
        width: 33.3333%;

        @media (max-width: $mobile-layout-max-width) {
          display: none;
        }
      }
    }
  }
}
